extends layout

block content
	section#treeTop.row
		#treeTopCont.container
			h1 #{ treeTitle }
			h3 
				p #{ treeDesc }
				span.ptCount #{ points } 
				span /82

	section#treeTree.row
		#treeCont.container
			.tileWrap
				each row, rId in tree
					each col, cId in row
						div(class="tile #{ col.type }" data-id="#{ rId+cId }")
							.tileCont 
								p #{ col.type }
								p #{ col.val }

	section#tStat.row
		#tStatCont.container












//		table.table#treeTbl
//			each row in tree
//				tr
//				each col in row
//					td(class="#{ col.type }") #{ col.val }